<!DOCTYPE html>
<html ng-app="numberBond">
    <head lang="en">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<title>Number Bonding</title>

		<link rel="stylesheet" href="css/mobile-nav.css">
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/bootstrap-dialog.css">
		<link rel="stylesheet" href="css/bootstrap-buttons.css">		

		<script type="text/javascript" src="js/lib/jquery-1.10.2.min.js"></script>
		
		<script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="js/lib/angular/angular-route.min.js"></script>
		<script type="text/javascript" src="js/lib/angular/angular-ui.js"></script>
		<script type="text/javascript" src="js/lib/angular/angular-truncate.js"></script>
		<script type="text/javascript" src="js/lib/angular/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="js/lib/angular/angular-local-storage.js"></script>
		<script type="text/javascript" src="js/lib/mobile-nav.js"></script>
		<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/lib/bootstrap-dialog.min.js"></script>
		
		<script type="text/javascript" src="js/numberbond.js"></script>
		<script type="text/javascript" src="js/numberbond-ui.js"></script>
		<script type="text/javascript" src="js/numberbond-intermediate.js"></script>
		<script type="text/javascript" src="js/complex-numberbond-ui.js"></script>				
		<script type="text/javascript" src="js/utils.js"></script>

		<script type="text/javascript" src="js/controllers/app.js"></script>		
		<script type="text/javascript" src="js/controllers/numberBondGenerator.js"></script>
		<script type="text/javascript" src="js/controllers/settings.js"></script>
		<script type="text/javascript" src="js/controllers/enterPartDialog.js"></script>
		
		<script type="text/javascript" src="js/directives/numericField.js"></script>
    </head>
    
    <body style="background-image: none">
        <div id="mainContent" ng-controller="header">
            <table cellspacing="0" cellpadding="10px" width="100%" class="nb-header">
                <tr>
                	<td width="50px" align="left">
                        <span ng-show="!isHomePage">
                        	<a ng-click="$navigate.go('/home')" class="backButton">
                        		<img src="images/back_btn.png" height="25px"/>	
                        	</a>
                       	</span>
                    </td>
                    <td  align="center" valign="middle" style="font: bold 20px Arial;">
                        <span id="title">{{title}}</span>
                    </td>
                    <td width="50px" align="right">
                        <a id="open-left" class="options-menu" style="padding-right: 5px;" ng-click='$navigate.go("/settings")'>
                        	<img src="images/settings-menu.png" height="25px"/>
                        </a>
                    </td>
                </tr>    		
            </table>
			
            <mobile-view></mobile-view>
        </div>

    </body>
</html>
